.app-header {
  // background-image: url('../../imgs/elements/header-ilus.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 6em;
  padding-left: 10px;
  padding-top: 12px;
  min-width: 100%;
  margin-bottom: 10px;

  @media (min-width: 800px) {
    margin-bottom: 50px;
  }

  .logo {
    min-height: 78px;
    max-height: 102px;
    height: 7.5vw;
    cursor: pointer;
  }
}
