.home-button {
  position: fixed;
  right: 10px;
  width: 13vw;
  bottom: min(2vw, 40px);
  @media (min-width: 800px) {
    width: 130px;
    bottom: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}
