.image-carousel {
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 800px) {
    max-width: calc(100% - 10em);
  }
}

.text-carousel {
  bottom: 0 !important;
  padding: 0.5em !important;
  width: 80% !important;
  margin-left: -40% !important;
}

.ril__caption {
  justify-content: center !important;
}
