.home-page {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;

  .title {
    margin-top: 50px;
    padding: 10px;
    font-size: 40px;
    font-family: Ruda-Bold;
    color: white;
  }

  .images-container {
    max-width: 900px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    > * {
      cursor: pointer;
      max-width: 220px;
    }

    .image-item {
      position: relative;
      .image-txt {
        position: absolute;
        width: 70%;
        padding: 1.5em;
        z-index: 1;
        min-width: 110px;
        transition: transform 0.3s;
      }

      .image-txt-1 {
        bottom: 53%;
        left: 15%;
        @media (min-width: 700px) {
          bottom: 173px;
          left: 30px;
        }
      }

      .image-txt-2 {
        bottom: 83%;
        left: 6%;
        @media (min-width: 700px) {
          bottom: 245px;
          left: 40px;
        }
      }

      .image-txt-3 {
        bottom: 60%;
        @media (min-width: 700px) {
          bottom: 195px;
        }
      }
    }
  }
}
