.recommendation-page {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  .rec-container {
    direction: rtl;
    background-image: url(../../imgs/elements/paper3.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: OpenSans-Medium;
    color: black;
    white-space: pre-line;
    width: 93%;
    padding: 2em;
    margin-bottom: 30px;
    @media (min-width: 1100px) {
      width: 43%;
      min-width: 23em;
      margin-right: 30px;
    }
  }
}
