@font-face {
  src: url(../../fonts/ruda/Ruda-Bold.ttf);
  font-family: Ruda-Bold;
}
@font-face {
  src: url(../../fonts/ruda/Ruda-Regular.ttf);
  font-family: Ruda-Regular;
}
@font-face {
  src: url(../../fonts/open-sans/OpenSans-Regular.ttf);
  font-family: OpenSans-Regular;
}
@font-face {
  src: url(../../fonts/open-sans/OpenSans-Medium.ttf);
  font-family: OpenSans-Medium;
}
@font-face {
  src: url(../../fonts/open-sans/OpenSans-Bold.ttf);
  font-family: OpenSans-Bold;
}
